DATABASE_URL=postgresql://user:password@localhost:5432/profmanager_db
SECRET_KEY=votre_cle_secrete_ici
MAIL_USERNAME=ProfManager.service@gmail.com
MAIL_PASSWORD=votre_mot_de_passe_application
ENVIRONMENT=production