fastapi
uvicorn
sqlalchemy
psycopg2-binary
pandas
scikit-learn
scipy
joblib
python-multipart
python-dotenv
aiosmtplib
fastapi-mail
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
requests
gdown
