# ── API & Serveur Web ─────────────────────────────
fastapi
uvicorn[standard]
pydantic
pydantic[email]
python-multipart

# ── Base de Données & Configuration ───────────────
sqlalchemy
psycopg2-binary
python-dotenv

# ── Sécurité & Authentification ───────────────────
python-jose[cryptography]
bcrypt

# ── Envoi d'E-mails (SMTP) ────────────────────────
fastapi-mail

# ── Traitement & Export Excel ─────────────────────
pandas
openpyxl
xlsxwriter

# ── Machine Learning & IA ─────────────────────────
scikit-learn
joblib
gdown


# ── traduction ─────────────────────────────
deep-translator